In [1]:
import pandas as pd
import operator
import time
import numpy as np

In [2]:
config = {}

config['project_path'] = '..'
config['data_folder_path'] = 'data'
config['temp_folder_path'] = 'temp'

#Input file
config['media_output'] = 'Media cost split 2020Q1.xlsx'
config['pc_output'] = 'PC cost split 202001-04.xlsx'
config['offtake_output'] = 'Offtake IFFO rate 202001-05.xlsx'
config['BHT output'] = 'BHT 202001-04.xlsx'
config['CRM cost output'] = 'CRM cost 202001-04.xlsx'
config['CRM performance output'] = 'CRM performance 202001-04.xlsx'
config['Trade support output'] = 'Trade support split 202001-04.xlsx'
config['nielsen_output'] = 'Nielsen formatted 202001-05.xlsx'
config['channel_output'] = 'Channel AnP split 202001-04.xlsx'

#Output file
config['output_file'] = '2020 Province ROI data.xlsx'

In [3]:
all_data = pd.DataFrame(columns=['Date', 'Brand', 'Province', 'Level 1', 'Level 2', 'Level 3', 'Level 4', 'Level 5', 'Value'])

# Performance

Danone Offtake, IFFO Ratio

In [4]:
input_file_path = config['project_path'] + '/' \
                        + config['temp_folder_path'] + '/' \
                        + config['offtake_output']

input_df = pd.read_excel(input_file_path, dtype=str)
all_data = all_data.append(input_df, ignore_index=True)
input_df[['Level 1', 'Level 2', 'Level 3', 'Level 4', 'Level 5']].drop_duplicates()

,Level 1,Level 2,Level 3,Level 4,Level 5
0,Danone Offtake,Danone Offtake,Danone Offtake,Danone Offtake,Danone Offtake
64,IFFO Ratio,IFFO Ratio,IFFO Ratio,IFFO Ratio,IFFO Ratio

Market Share, WTD

In [5]:
input_file_path = config['project_path'] + '/' \
                        + config['temp_folder_path'] + '/' \
                        + config['nielsen_output']

input_df = pd.read_excel(input_file_path, dtype=str)
all_data = all_data.append(input_df, ignore_index=True)
input_df[['Level 1', 'Level 2', 'Level 3', 'Level 4', 'Level 5']].drop_duplicates()

,Level 1,Level 2,Level 3,Level 4,Level 5
0,Nielsen Value Market Share,Nielsen Value Market Share,Nielsen Value Market Share,Nielsen Value Market Share,Nielsen Value Market Share
18,WTD - RI,WTD - RI,WTD - RI,WTD - RI,WTD - RI
19,WTD - RI (AC),WTD - RI (AC),WTD - RI (AC),WTD - RI (AC),WTD - RI (AC)
20,WTD - RI (AP),WTD - RI (AP),WTD - RI (AP),WTD - RI (AP),WTD - RI (AP)
42,WTD - MBS,WTD - MBS,WTD - MBS,WTD - MBS,WTD - MBS
43,WTD - MBS (AC),WTD - MBS (AC),WTD - MBS (AC),WTD - MBS (AC),WTD - MBS (AC)
44,WTD - MBS (AP),WTD - MBS (AP),WTD - MBS (AP),WTD - MBS (AP),WTD - MBS (AP)

Total Brand Awareness, Deep Interest

In [6]:
input_file_path = config['project_path'] + '/' \
                        + config['temp_folder_path'] + '/' \
                        + config['BHT output']

input_df = pd.read_excel(input_file_path, dtype=str)
all_data = all_data.append(input_df, ignore_index=True)
input_df[['Level 1', 'Level 2', 'Level 3', 'Level 4', 'Level 5']].drop_duplicates()

,Level 1,Level 2,Level 3,Level 4,Level 5
0,Total Brand Awareness,Total Brand Awareness,Total Brand Awareness,Total Brand Awareness,Total Brand Awareness
1,Deep Interest,Deep Interest,Deep Interest,Deep Interest,Deep Interest

NU, Leads, Baidu Search, Ali Index

In [7]:
input_file_path = config['project_path'] + '/' \
                        + config['temp_folder_path'] + '/' \
                        + config['CRM performance output']

input_df = pd.read_excel(input_file_path, dtype=str)
all_data = all_data.append(input_df, ignore_index=True)
input_df[['Level 1', 'Level 2', 'Level 3', 'Level 4', 'Level 5']].drop_duplicates()

,Level 1,Level 2,Level 3,Level 4,Level 5
0,CRM NU Offline,CRM NU Offline,CRM NU Offline,CRM NU Offline,CRM NU Offline
30,CRM Leads Offline,CRM Leads Offline,CRM Leads Offline,CRM Leads Offline,CRM Leads Offline
62,CRM NU Online,CRM NU Online,CRM NU Online,CRM NU Online,CRM NU Online
63,CRM Leads Online,CRM Leads Online,CRM Leads Online,CRM Leads Online,CRM Leads Online
64,Baidu Search,Baidu Search,Baidu Search,Baidu Search,Baidu Search
90,Ali Search,Ali Search,Ali Search,Ali Search,Ali Search
116,Landing UV,Landing UV,Landing UV,Landing UV,Landing UV
117,Active Leads,Active Leads,Active Leads,Active Leads,Active Leads

# Investment

Trade Support

In [8]:
input_file_path = config['project_path'] + '/' \
                        + config['temp_folder_path'] + '/' \
                        + config['Trade support output']

input_df = pd.read_excel(input_file_path, dtype=str)
all_data = all_data.append(input_df, ignore_index=True)
input_df[['Level 1', 'Level 2', 'Level 3', 'Level 4', 'Level 5']].drop_duplicates()

         Level 1        Level 2        Level 3        Level 4        Level 5
0  Trade Support  Trade Support  Trade Support  Trade Support  Trade Support

A&P

Media

In [9]:
input_file_path = config['project_path'] + '/' \
                        + config['temp_folder_path'] + '/' \
                        + config['media_output']

input_df = pd.read_excel(input_file_path, dtype=str)
all_data = all_data.append(input_df, ignore_index=True)
input_df[['Level 1', 'Level 2', 'Level 3', 'Level 4', 'Level 5']].drop_duplicates()

      Level 1      Level 2       Level 3        Level 4      Level 5
0   Total A&P  Total Media  Total A Cost  Total A Media  A - Digital
12  Total A&P  Total Media  Total A Cost  Total A Media       A - TV
34  Total A&P  Total Media  Total I Cost  Total I Media  I - Digital

CRM

In [10]:
input_file_path = config['project_path'] + '/' \
                        + config['temp_folder_path'] + '/' \
                        + config['CRM cost output']

input_df = pd.read_excel(input_file_path, dtype=str)
all_data = all_data.append(input_df, ignore_index=True)
input_df[['Level 1', 'Level 2', 'Level 3', 'Level 4', 'Level 5']].drop_duplicates()

,Level 1,Level 2,Level 3,Level 4,Level 5
0,Total A&P,Total CRM,Total I Cost,Total I CRM,I - CRM Leads Offline
30,Total A&P,Total CRM,Total P Cost,Total P CRM,P - CRM NU Offline
60,Total A&P,Total CRM,Total I Cost,Total I CRM,I - CRM others
61,Total A&P,Total CRM,Total AD/Non-working Cost,Total AD/Non-working Media,AD - CRM
62,Total A&P,Total CRM,Total AD/Non-working Cost,Total AD/Non-working Media,NW - CRM
65,Total A&P,Total CRM,Total P Cost,Total P CRM,P - CRM NU Online
66,Total A&P,Total CRM,Total I Cost,Total I CRM,I - CRM Leads Online

PC: GT, Non GT

In [11]:
input_file_path = config['project_path'] + '/' \
                        + config['temp_folder_path'] + '/' \
                        + config['pc_output']

input_df = pd.read_excel(input_file_path, dtype=str)
all_data = all_data.append(input_df, ignore_index=True)
input_df[['Level 1', 'Level 2', 'Level 3', 'Level 4', 'Level 5']].drop_duplicates()

     Level 1   Level 2      Level 3      Level 4      Level 5
0  Total A&P  Total PC      PC - GT      PC - GT      PC - GT
2  Total A&P  Total PC  PC - Non-GT  PC - Non-GT  PC - Non-GT

Channel: KA, GT, RKMBS, EC

In [12]:
input_file_path = config['project_path'] + '/' \
                        + config['temp_folder_path'] + '/' \
                        + config['channel_output']

input_df = pd.read_excel(input_file_path, dtype=str)
all_data = all_data.append(input_df, ignore_index=True)
input_df[['Level 1', 'Level 2', 'Level 3', 'Level 4', 'Level 5']].drop_duplicates()

      Level 1        Level 2       Level 3        Level 4 Level 5
0   Total A&P  Total Channel  Total P Cost  Total Channel      KA
17  Total A&P  Total Channel  Total P Cost  Total Channel      EC
54  Total A&P  Total Channel  Total P Cost  Total Channel      GT
55  Total A&P  Total Channel  Total P Cost  Total Channel   RKMBS

# Output result

In [13]:
all_data['Value'] = all_data['Value'].astype('float')

In [14]:
all_data = all_data.groupby(by = ['Date', 'Brand', 'Province', 'Level 1', 'Level 2', 'Level 5'])['Value'].sum().reset_index()

In [15]:
all_data.columns = ['Date', 'Brand', 'Province', 'Type 1', 'Type 2', 'Type 3', 'Value']

In [16]:
total_anp = all_data[all_data['Type 1'] == 'Total A&P']

In [17]:
total_anp = total_anp.groupby(by = ['Date', 'Brand', 'Province', 'Type 1', 'Type 2'])['Value'].sum().reset_index()

In [18]:
total_anp['Type 3'] = total_anp['Type 2']
total_anp['Type 2'] = total_anp['Type 1']
total_anp['Type 1'] = 'Dummy'

In [19]:
all_data = all_data.append(total_anp, ignore_index = True)

In [20]:
output_file_path = config['project_path'] + '/' \
                        + config['temp_folder_path'] + '/' \
                        + config['output_file']

all_data.to_excel(output_file_path, index=False)

In [21]:
#data_structure = all_data[['Level 1', 'Level 2', 'Level 3', 'Level 4', 'Level 5']].drop_duplicates()

data_structure = all_data[['Type 1', 'Type 2', 'Type 3']].drop_duplicates().sort_values(by=['Type 1', 'Type 2', 'Type 2'],ascending=False)

In [22]:
data_structure

,Type 1,Type 2,Type 3
66,WTD - RI (AP),WTD - RI (AP),WTD - RI (AP)
65,WTD - RI (AC),WTD - RI (AC),WTD - RI (AC)
578,WTD - RI,WTD - RI,WTD - RI
64,WTD - MBS (AP),WTD - MBS (AP),WTD - MBS (AP)
63,WTD - MBS (AC),WTD - MBS (AC),WTD - MBS (AC)
577,WTD - MBS,WTD - MBS,WTD - MBS
14,Trade Support,Trade Support,Trade Support
334,Total Brand Awareness,Total Brand Awareness,Total Brand Awareness
12,Total A&P,Total PC,PC - GT
13,Total A&P,Total PC,PC - Non-GT
9,Total A&P,Total Media,A - Digital
10,Total A&P,Total Media,A - TV
11,Total A&P,Total Media,I - Digital
6,Total A&P,Total Channel,GT
7,Total A&P,Total Channel,KA
8,Total A&P,Total Channel,RKMBS
325,Total A&P,Total Channel,EC
4,Total A&P,Total CRM,I - CRM Leads Offline
5,Total A&P,Total CRM,P - CRM NU Offline
318,Total A&P,Total CRM,AD - CRM
320,Total A&P,Total CRM,I - CRM Leads Online
321,Total A&P,Total CRM,I - CRM others
322,Total A&P,Total CRM,NW - CRM
324,Total A&P,Total CRM,P - CRM NU Online
51,Nielsen Value Market Share,Nielsen Value Market Share,Nielsen Value Market Share
316,Landing UV,Landing UV,Landing UV
3,IFFO Ratio,IFFO Ratio,IFFO Ratio
10068,Dummy,Total A&P,Total CRM
10069,Dummy,Total A&P,Total Channel
10070,Dummy,Total A&P,Total Media
10071,Dummy,Total A&P,Total PC
314,Deep Interest,Deep Interest,Deep Interest
2,Danone Offtake,Danone Offtake,Danone Offtake
312,CRM NU Online,CRM NU Online,CRM NU Online
1,CRM NU Offline,CRM NU Offline,CRM NU Offline
310,CRM Leads Online,CRM Leads Online,CRM Leads Online
0,CRM Leads Offline,CRM Leads Offline,CRM Leads Offline
46,Baidu Search,Baidu Search,Baidu Search
45,Ali Search,Ali Search,Ali Search
306,Active Leads,Active Leads,Active Leads

In [23]:
output_file_path = config['project_path'] + '/' \
                        + config['temp_folder_path'] + '/' \
                        + '2020 Province ROI data structure.xlsx'

data_structure.to_excel(output_file_path, index=False)